@import '../variables.scss';

section#Index {
  height: 90vh;

  display: flex;
  @include flex-flow(column nowrap);
  @include justify-content(space-around);

  margin-bottom: 15vh;
  scroll-snap-align: center;

  h1 {
    font-size: 3em;
    line-height: $font-line-height;
    font-weight: lighter;
    color: $color-foreground;
  }
}