@import './variables.scss';

html {
  background-color: $color-foreground;
  background-image: linear-gradient(160deg, $color-background 20%, $color-primary 100%);
  
  body {
    margin: 0 5vw 10vh 0;
    
    div#tori-dev {
      font-family: $font-stack;
      font-size: $font-size;
      color: $color-dark;
      line-height: $font-line-height;
      
      display: flex;
      @include flex-flow(row nowrap);
      
      div#content { 
        margin-left: 20vw;
      }
    }
  }
}
