@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");
.underline {
  border-bottom: 2px solid #ffd7e4;
  display: inline;
  line-height: inherit;
  text-shadow: inset 0 -0.175em white, inset 0 -0.175em white, inset 0 -0.175em white, inset 0 -0.175em white; }

html {
  background-color: #000;
  background-image: linear-gradient(160deg, #fff 20%, lavenderblush 100%); }

html body {
  margin: 0 5vw 10vh 0; }

html body div#tori-dev {
  font-family: "Inconsolata", monospace, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4em;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

html body div#tori-dev div#content {
  margin-left: 20vw; }
